<div id="profile-content">
    <h1>Tu perfil (sin datos sensibles) </h1>
    <p>Username: {{user.first_name}} {{user.last_name}} </p>
    <p>Email: {{user.email}} </p>
    <p>Age: {{user.age}} years </p>
</div>