<div class="listProducts">
    <h1>Lista de Productos</h1>
    <ul class="ul-list-products">
        {{!-- Lista con productos en tiempo real --}}
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>