<div>
    <h1>Restart password</h1>
    <form id="restartForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <!--
        <label>Nueva contraseña</label>
        <input type="password" name="password">
        <input type="submit">
        -->
        <label>Restore password</label>
        <input type="submit"> 
    </form>

</div>

<script src="/js/restart.js"></script>