<div> Update Role User </div>

<div> ID:  {{idUser}} </div>

<div>
    <select id="selectRole">
        <option value="user"> User </option>
        <option value="premium"> Premium </option>
        <option value="admin"> Admin </option>
    </select>
    <br/>
    <button onClick="GetSelectedItem('selectRole','{{idUser}}');">Update</button>
</div>


<script src="/js/updaterole.js"></script>