p {
    color:rgb(70, 66, 66);
}

h1 {
    color: rgb(14, 14, 14);
    text-decoration: underline;
}

.listProducts {
    text-align: center;
}

.ul-list-products {
    list-style: none;
}

.li-products {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-class-products {
    padding-right: 10px;
}